<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.watchic.app.notification_listener">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                 tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.ACTION_NOTIFICATION_LISTENER_SETTINGS" />
    <uses-permission
            android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <!-- 厂商自启动权限 -->
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />
    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT" />
    <application>
        <receiver
            android:name=".alarmmanager.MyAlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".keeplive.service.JobHandlerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="com.watchic.app.notification_listener.keeplive.receiver.NotificationClickReceiver" />
        <activity
            android:enabled="true"
            android:exported="true"
            android:name="com.watchic.app.notification_listener.keeplive.activity.OnePixelActivity" />

        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.watchic.app.notification_listener.keeplive.service.LocalService" />
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.watchic.app.notification_listener.keeplive.service.HideForegroundService" />
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.watchic.app.notification_listener.keeplive.service.RemoteService"
            android:process=":remote" />

    </application>
</manifest>
